/* @import url(https://api.fonts.coollabs.io/css?family=Raleway:300,900); */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:300,900); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.bunny.net/css?family=raleway:900');
@import url('https://fonts.cdnfonts.com/css/gasoek-one');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.bunny.net/css?family=titillium-web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://cdn.staticdelivr.com/gfonts/css2?family=Open+Sans');

/* "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui  */

* {
  margin: 0;
  padding: 0;
}

*,
::before, 
::after {
  box-sizing: border-box;
}

:root {
  --gap: 2rem;
/*  font-size: 20px; */
  --hdr-main-color: hsl(0,0%,92%);
  --red: #da2c4d;
  --yellow: #f8ab37;
  --green: #2ecc71;
  --white: #ffffff;
  --grey-light: #f2f7f9;
  --grey: #ecedf3;
  --black: #080808;
  --black-blue: #1f2029;
  --black-blue-light: #353746;
  --black-blue-light-2: #404255;
  --black-blue-light-3: #4b4d64;
  --black-light: #424455;
  --ff-main-header:  'Gasoek One', sans-serif;
  --space: 1rem;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 60ch;
  --content-md-width: 80ch;
  --content-min-width: 40ch;
  --clr-text-light: hsl(0,0%,75.3%);
  --color-neutral-200: #efeeec;
  --color-neutral-800: #131313;  
  --color-neutral-900: #000000;

  --clr-text-light: hsl(0,0%,75.3%);
  --clr-text-dark: hsl(0,0%,48.6%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);

  --color-light: var(--color-neutral-200);
  --color-dark: var(--color-neutral-800);  
  --color-white: var(--color-neutral-100);
  --color-black: var(--color-neutral-900);
  --color-error: var(--color-primary);
  --color-success: #0ba954; 
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
  --duration-default: 0.735s;
  --animation-default: var(--duration-default) var(--cubic-default);
  --gap: 2em;
  --section-padding: calc(3.5em + (var(--gap) * 2));
  --container-padding: 2em;
  --header-height: calc(1.5em + (var(--gap) * 2));
  --footer-height: calc(2.785em + (var(--gap) * 2));
}

body {
  background-color: #1B1B1B;
  background: var(--color-neutral-900);
  color: #c0c0c0;  
  position: relative;
  /*z-index: -1;*/
/*  background: url('https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/8727c9b1-be21-4932-a221-4257b59a74dd');*/
  background: url('https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/kpa--bg-img-be21-4932_dark-45p_Xz4__ulwPXOOJh.webp');
  background-repeat: repeat;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  animation: slidein 180s forwards infinite alternate;
/*   overflow-x: hidden; */
  margin: 0;
}

#navigation--Wrap {
     display: none;
     width: 100%;
     min-height: 100vh;
     height: 100%;
     background: black;
     opacity: 0;
     position: absolute;
     top: 0;
     padding: 150px 0;
     overflow: hidden;
}

#navigation--Wrap.showing {
  z-index: 99;
}

#navigation--Wrap .container {
     position: relative;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
     box-sizing: border-box;
}

#navigation--Wrap .container:after {
     content: "";
     display: table;
     clear: both;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
     #navigation--Wrap .container {
         width: 85%;
         padding: 0;
    }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
     #navigation--Wrap .container {
         width: 80%;
    }
}

@media (min-width: 768px) {
  #navigation--Wrap {
    padding: 100px 0;
  }
}

#navigation--Wrap nav {
  grid-column: page;
}

#navigation--Wrap nav ul {
     list-style-type: none;
     padding: 0;
}
#navigation--Wrap nav ul li {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 12vh;
  line-height: 1.1;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: 700;
}
#navigation--Wrap nav ul li:first-child {
     font-size: 8vh;
     overflow: visible;
}
@media (max-width: 750px) {
     #navigation--Wrap nav ul li {
         font-size: 15vw;
    }
     #navigation--Wrap nav ul li:first-child {
         font-size: 8vw;
    }
}
#navigation--Wrap nav a {
     color: white;
     -o-transition:.3s;
     -ms-transition:.3s;
     -moz-transition:.3s;
     -webkit-transition:.3s;
     transition:.3s;
     text-decoration: none;
}
#navigation--Wrap nav a:hover {
     color:#F24738;
}
.navbar {
     position: fixed;
     top: 20px;
     left: 20px;
     width: 45px;
     height: 45px;
     z-index: 20;
     cursor: pointer;
}
.close {
     display: none;
     opacity: 0;
     position: fixed;
     top: 20px;
     left: 20px;
     width: 45px;
     height: 45px;
     z-index: 20;
     cursor: pointer;
}
.social {
    grid-column: page;
    display: flex;
    gap: 1.2rem;
}

.social a {
  color: #484848;
  color: white;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  text-decoration: none;
}
.social a svg {
  fill: white;
  transition: all .3s ease-in-out;
}
.social a:hover svg {
  color:#F24738;
  fill: #F24738;
  fill: hsl(262.8, 12.7%, 48.5%); /* 262.8, 12.7%, 48.5% / 264.4, 26.2%, 20.2% */
}

.fa {
  color: #484848;
  padding-right: 12px;
  font-size: 1.8em !important;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}
.fa:hover {
  color:#F24738;
}


.plate {
  height: 60px; /* formerly 80px */
  width: 80px;
}
.plate {
  position: fixed;
  width: 100%;
  z-index: 100;
/*   outline: 1px solid firebrick; */
}

button[data-v-6e829ace] {
  position: absolute;
  top: 1.95rem;
  left: 1.5rem;
  background: transparent;
  outline: 0;
  border: 0;
  /*height: 40px;*/
  display: none;
}


/****************************/
/* HAMBURGER MENU ANIMATION */
/****************************/

.hamburger-menu {
  position: absolute;
  top: 1rem;
/*   top: 20px; */
  right: 1.5rem;
  z-index: 100;
  cursor: pointer;
/*   outline: 1px solid firebrick; */
  width: 2.8rem;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 2.5rem;
  width: 1.75rem;
  height: 0.125rem;
  background-color: #fff;
  margin: 0.6rem 0;
  margin-left: auto;
  transition: 0.4s;
}

.menu-bar2 {
  width: 1.5rem;
  width: 1.25rem;
  height: 0.125rem;
  margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {  
/*   transform: rotate(-45deg) translate(-0.25rem, 0.4rem); */
  transform: rotate(-45deg) translate(-0.00rem, 0.72rem);
/*   transform-origin: top left; */
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
/*   transform: rotate(45deg) translate(-0.24rem, -0.2rem); */
    transform: rotate(45deg) translate(-0.25rem, -1.00rem);
/*   transform-origin: bottom left; */
}

.profile-img--cont {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 140px;
    /* left: 50%; */
    right: 2%;
    right: 1.5rem;
    width: 240px;
    /* margin: 0 auto; */
    /* height: 100%; */
    z-index: 5;
    /* visibility: hidden; */
    /* outline: 2px solid firebrick; */
}

.profile-img--cont .image-container {
    position: relative;
    width: 100%;
    width: clamp(100px, 40vw, 300px);
    width: clamp(150px, 30vw + .75rem, 200px);
    /* height: 350px; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid firebrick; */
}

.profile-img--cont .image-container::after {
  position: absolute;
  content: '';
  inset: 0;
  height: 100%;
  padding-bottom: 100%;
  background: rgba(0 0 0 / .1);
}

.profile-img--cont .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
/*    mask-image: linear-gradient(to top, transparent 5%, black 95%);*/
}
/*
.profile-img--cont {
    top: 100px;
    justify-content: flex-end;
}
*/
@media (min-width: 650px) { /* Previously 500px */
  .profile-img--cont {
    top: 100px;
    justify-content: flex-end;
  }
}

.hero {
  position: relative;
  height: 500px;
  margin: 0 auto;
/*  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%);*/
}

.hero > * {
  z-index: 9999;
}

.image--container {
  display: grid;
/*  position: relative;*/
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
  /*overflow: hidden;*/
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/ai-glow_Iw7l7oHWy.webp);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90% 2px;
}

.image--container img {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 50vh;  
  scale: 2.2;
  filter: blur(12px);
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
/*  object-position: 40px -150px;*/
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%);  
}

h1 {
  font-family: 'Jockey One';
  font-family: var(--ff-main-header);
/*   font-weight: 700; */
  color: #c0c0c0;
  color: #fafafa;
  letter-spacing: 0.075rem;
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
}

.hero-title {
  display: grid;
  font-size: clamp(2.5rem, 8vw + 0.5rem, 5.2rem);
/*   font-family: 'Fjalla One', sans-serif; */
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  line-height: .85;
  position: relative;
  position: absolute;
  /*z-index: 200;*/
  top: 50%;
  transform: translate3d(0, -50%, 0);
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
/*   border: 1px solid firebrick; */
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/*

@media (min-width: 480px) {
  .hero-title {
    margin-left: 3rem;
  }
}
*/


.rtl {
  direction: rtl;
}

/* Grid Dimension Settings Start */

.container {
  position: relative;
  --gutter: 3rem;
  display: grid;
  grid-template-columns:
    [page-start col1-start] minmax(3rem, 1fr)
    [breakout-start] 1fr
    [content-start] min(100% - (var(--gutter) * 2), 80ch)
    [content-end] 1fr
    [breakout-end] minmax(3rem, 1fr)
    [page-end];
}

/* .container h1, */
.content p,
.container p {
  margin-bottom: 3rem;
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  /*font-family: 'Titillium Web', sans-serif;*/
  font-weight: 300;
  font-size: 1rem; /* from 1rem */
  overflow-wrap: break-word;
}

body p:nth-last-of-type(2) {
  font-size: 1.2rem;
}

.message--bar {
  grid-column: page;
}

.media-audio--container {
    position: relative;
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    z-index: 2;
    padding-inline-start: 3rem;
    padding-inline-start: var(--space-md);
    grid-column: page;
}
.audio-btn[data-v-782638f6] {
    align-items: center;
    border-radius: 25px;
    display: flex;
    height: 40px;
    height: 34px;
    justify-content: center;
/*    margin: -5.8823529412vw auto 0;*/
    padding: 4px 16px 4px 4px;
    padding: 0px 16px 0px 4px;
    background-color: #000;
    background-color: rgba(0, 0, 0, .3);
    transition: background-color .5s cubic-bezier(.19,1,.22,1);
    border: 1px solid hsla(0, 0%, 50%, 0.6);
    cursor: pointer;
}

.audio-btn[data-v-782638f6]:hover {
  background-color: #2d2d2d;
  border: 1px solid transparent;
}
/*
.audio-btn[data-v-782638f6] {
    margin-top: calc(32.8px + 3.95294vw);
}
*/
.audio-btn.is-on .icon .audio-icon .on[data-v-782638f6] {
    opacity: 0;
    transform: translateX(-8px)
}

.audio-btn.is-on .icon .audio-icon .off[data-v-782638f6] {
    opacity: 1;
    transform: translateX(-2px) scale(1.2)
}

.audio-btn.is-on .label-wrapper .label[data-v-782638f6] {
    transform: translateY(-14px)
}

.audio-btn .icon[data-v-782638f6] {
    align-items: center;
    background-color: #171717;
    background-color: hsl(43.8, 0%, 12.7%);
    border-radius: 100%;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-right: 12px;
    position: relative;
    width: 32px;
}

.audio-btn .icon .audio-icon[data-v-782638f6] {
    height: 14px;
    position: relative;
    width: 19px;
}

.audio-btn .icon .audio-icon g[data-v-782638f6] {
    transition: transform .5s cubic-bezier(.19,1,.22,1),opacity .5s cubic-bezier(.19,1,.22,1);
    will-change: transform;
}

.audio-btn .icon .audio-icon .off[data-v-782638f6] {
  opacity: 0;
  transform: translateX(-8px);
}

.audio-btn .label-wrapper[data-v-782638f6] {
    display: block;
    height: 16px;
    color: #c0c0c0;
    overflow: hidden;
}

.audio-btn .label-wrapper .label[data-v-782638f6] {
    color: var(--white-color);
    display: block;
    position: relative;
    transition: transform .5s cubic-bezier(.19,1,.22,1);
    will-change: transform;
/*    transform: translate3d(0, -14px, 0);*/
}

.p-caption {
    font-size: 12px;
}

.audio-btn.is-on .label-wrapper {
  transition: translate3d(0, -100%, 0);
}

h1, .site--title {
  grid-column: content;
}

p {
  grid-column: page;
  padding-inline: calc(var(--space-md) / 2);
}

.site--title {
/*  width: max-content;*/
  display: grid;
  align-self: center;
/*  text-align: center;*/
/*  padding-inline: 8rem;*/
  margin: 0 auto;
}

.site--title span {
  display: block;
  grid-column: 1 / 2;
}

.banner {
  grid-column: content;
  text-align: left;
  padding-inline-start: var(--space-md);
}

.banner p {
  font-size: 1rem;
  /*width: 65ch;*/
  font-style: italic;
  font-weight: 700;
  /*margin-block-start: 1.5rem;*/
  margin-block-end: calc(var(--space-md) * 3);
}

@media (max-width: 650px) {
  .banner {
    grid-column: page;
    padding-inline-start: calc(var(--space-md) / 2);
  }
  .banner p {
    width: 100%;
  }
}

.section--title {
  grid-column: page;
  padding-inline: calc(var(--space-md) / 2);
}

.section--title h1 {
    text-align: left;
    font-family: var(--ff-main-header);
    font-size: clamp(1.5rem, 0.2368rem + 6.3158vw, 4.5rem);
    font-size: clamp(1.4rem, 0.0947rem + 6.5263vw, 4.5rem);
    letter-spacing: 0.075rem;
    letter-spacing: 0.095rem;
    margin-block-end: 2.5rem;
    margin-block-end: 3.5rem;
/*    animation: lights 5s 750ms linear infinite;*/
}

.container:nth-last-of-type(-n+1) .section--title h1 { 
  text-align: right;
/*  color: firebrick;*/
}


main {
  margin-block-end: 6rem;
}

.content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--content-max-width), 100% - var(--space-md) * 2)
    [content-end]
    1fr [full-end];
}

.content > * {
  grid-column: content;
}

.content > * + * {
  margin-block-start: var(--space);
}

.headline {
  margin-block-start: var(--space-md);
/*   margin-block-start: calc(var(--space-md) * 3); */
  /*margin-block: calc(var(--space-md) * 3);*/
  margin-block-end: calc(var(--space-md) * 3);
  font-family: "Bebas Neue";
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: 0.015em; /* removed minus from value */
/*  transform: translateY(10%);*/
  opacity: 0;
/*  animation: moveHeaderUp 1s linear 0.5s forwards;*/
  animation: moveHeaderUp 1.4s ease-in-out 0.5s forwards;

  .showing {
    transform: translateY(10%);
    opacity: 0;
/*    animation: moveHeaderUp 1s linear 0.5s forwards;*/
    animation: moveHeaderUp 1.4s ease-in-out 0.5s forwards;
  }
}

@media (min-width: 420px) {
  .headline {
    margin-block-start: calc(var(--space-md) * 3);
  }
}

.dl--section {
  position: relative;
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/kpa--hero-IMG-002__lrg_hbAo8-IfR.jpg);
  background-size: 500%;
  background-position: center -400px;
  backdrop-filter: blur(4px);
  margin-block-end: var(--space-md);

  & > * {
    position: relative;
    z-index: 100;
  }

  &::after {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(14px);
  }
}

.dl--section .dl--section_container {
  display: flex;
  /*flex-wrap: nowrap;*/
  justify-content: center;
  align-items: center;
  gap: .25rem;
  grid-column: full;
  padding-block: 6rem;
  padding-inline: var(--space);
  outline: 1px solid hsla(43.8, 0%, 75.3%, .2);
  border-radius: 8px;
  box-shadow: 0 0.05rem .31rem -0.05rem hsl(0,0%,55.3%);
}

.dl--section .dl--section_container .dl--single {
  font-family: 'Open Sans';
  /*font-weight: 300;*/
  font-weight: 500;
  font-size: clamp(1.25rem, 0.85rem + 2vw, 2.4rem); 
  font-size: clamp(1.25rem, 0.989rem + 1.304vw, 2rem);
  font-size: clamp(1.15rem, 0.854rem + 1.478vw, 2rem);
  margin-block: 0;
  text-shadow: 0 .010em 2px rgba(250, 250, 250, 0.5);
}
/*.dl--section > * {
  position: relative;
  z-index: 100;  
}

.dl--section::after {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px);
}*/

.dl--single {
  /*align-self: center;*/
  /*text-align: center;*/
  padding-inline-start: var(--space);
}

.rtl h3 {
  position: relative;
  grid-column: content;
  transform: translate3d(120px, 50px, 0);
  font-family: 'Raleway', sans-serif;
  font-size: 6rem;
  color: hsl(43.8, 0%, 8.3%);
  text-transform: uppercase;
/*  opacity: 0.4;*/
  z-index: -1;
}

.gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  padding-block: var(--space-md);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
  margin-block-end: 8rem; /* Test Vertical Rhythm Value */ 
}

.gallery::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.gallery.pre--profile-img {
  margin-block-end: 1rem;
}

.gallery .wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.gallery .wrapper::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}

main.content .gallery:nth-of-type(3) {
/*  border: 1px solid firebrick;*/
  margin-block-end: -4rem;
}

.gallery .item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  inline-size: 100%;
  max-inline-size: 25rem;
  aspect-ratio: 16 / 9;
  font-size: 2rem;
  background: hotpink;
  background: #081a29;
  color: #081a29;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(192 192 192 / .1), 
              0 2px 2px rgba(192 192 192 / .1), 
              0 4px 4px rgba(192 192 192 / .1), 
              0 8px 8px rgba(192 192 192 / .1), 
              0 16px 16px rgba(192 192 192 / .1);
  box-shadow: rgba(192, 192, 192, 0.2) 0px 6px 12px -2px, rgba(192, 192, 192, 0.2) 0px 3px 7px -3px;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  box-shadow: 0 0.04rem .45rem -0.015rem hsl(0,0%,55.3%);
  box-shadow: 0 0.05rem .31rem -0.05rem hsl(0,0%,55.3%);
}

.gallery.alt-sizes .item.lg {
  max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
  max-inline-size: 15rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/*
.gallery.alt-sizes .item.lg img {
  width: auto;
  border-radius: 6px;
}*/

@supports not (aspect-ratio: 1) {
  .gallery .item::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .gallery .item::after {
    display: block;
    content: "";
    clear: both;
  }
}


@-moz-document url-prefix() {
  .ff-banner {
    display: block;
    padding: var(--space);
    background-color: lightyellow;
    text-align: center;
    font-size: 0.9rem;
  }
}

.sz--col-full {
    grid-column: page;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 40vh;
  display: flex;
  position: relative;
  font-size: 1.1vw;
  outline: 0;
}

.overlay {
  z-index: 2;
  background-image: linear-gradient(90deg, var(--color-neutral-900) 85%, #0000);
  justify-content: flex-start;
  align-items: center;
  width: 43.5em;
  height: 100%;
  padding-left: 2em;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
/*   height: 24.125em; */
  display: flex;
}

.overlay-count-row {
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: 5.125em;
  font-size: clamp(2.25rem, 1.772rem + 2.391vw, 3.625rem);
  font-weight: 700;
  display: flex;
}

.count-column, .count-row-divider {
/*  visibility: hidden;*/
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.count-heading {
  width: 2ch;
  font-size: 1em;
  line-height: 1;
  margin: 0px;
}

.count-row-divider {
  background-color: var(--color-light);
  width: 2px;
  height: .75em;
  transform: rotate(15deg);
}

.overlay-title {
  font-size: .65em;
  text-transform: uppercase;
  width: max-content;
  order: -1;
  flex: auto;
  letter-spacing: 0.075rem;
  visibility: hidden;
  display: none;    
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
  transform: translate3d(0, -50%, 0);
  margin-block-end: 0;
}

@media (min-width: 490px) {
  .overlay-nav-row {
    margin-block-end: 1.5rem;
  }
}

.button {
  background-color: #0000;
  color: #fff;
  border: 1px solid #fff3;
  border-radius: .4em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  width: 3em;
  height: 3em;
  padding: 0;
  display: flex;
  position: relative;
}

.button-arrow {
  flex: none;
  width: 1em;
  height: .75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

.button, .button-overlay{ transition: transform 0.475s var(--cubic-default), opacity 0.475s var(--cubic-default)}

.button:hover .button-overlay{ transform: scale(1.4); }
.overlay-nav-row:hover:has(.button:hover) .button{ opacity: 0.4; }
.button:hover{ transform: scale(0.85); opacity: 1 !important; }

.cloneable .main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;

}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  align-items: center;
  display: flex;
  position: relative;
  background: hsl(0, 0%, 0%);
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 28em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity .4s;
  position: relative;
}

[data-slider="slide"]{ opacity: 0.2; }
[data-slider="slide"].active { opacity: 1; } 
[data-slider="slide"].active .slide-caption{ transition-delay:0.3s;} 

.slide-inner {
  border-radius: .5em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-slide:nth-last-of-type(-n÷1) {
  border: 1px solid firebrick;
}

.cloneable video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
   aspect-ratio: 16 / 10; 
/*   border: 1px solid firebrick; */
  object-fit: cover;
}

.cloneable img{
  width:100%;
  height:100;
  object-fit: cover;
}

.slide-caption {
  z-index: 2;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  background-color: var(--color-light);
  color: var(--color-dark);
  white-space: nowrap;
  border-radius: .25em;
  justify-content: flex-start;
  align-items: center;
  padding: .4em .75em .4em .5em;
  display: flex;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  overflow: hidden;
  visibility: hidden;
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}

.caption {
  font-size: .75em;
  font-family: arial;
  margin: 0px;
}

.footer--classic {
  background-color: hsl(43.8, 0%, 8.5%);
  padding-top: 1.6rem;
  background-image: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/ai-glow_Iw7l7oHWy.webp);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 90% 6px;  
}

.ft--container {
  padding: 0 .5rem;
}

.ft--row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 24px;
  margin-bottom: 2.5rem;
}

.ft--main-title {
  font-family: 'Raleway', sans-serif;
/*  font-family: PP Neue Corp, Impact, sans-serif;
  font-size: 49.7475px;*/
  text-transform: uppercase;
}

.ft--main-title, 
.meta--social-icon {
  padding-inline-start: .85rem;
}

.ft--col .ft--footer-list {
  list-style: none;
  margin-block: .3rem;
}

@media (min-width: 631px) {
  .ft--col .ft--footer-list {
    margin-block: 3rem;
  }
  .ft--row:nth-last-of-type(-n+1) .ft--footer-list {
    margin-block-start: 2rem;
  }
}
 
.ft--col .ft--footer-list li a {
  text-decoration: none;
  color: currentColor;
  font-family: 'Raleway', sans-serif;
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  font-size: 0.925rem;
  font-weight: 600;
}

.ft--footer-title h3 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  margin-bottom: 1rem;
}

form {
    display: inline-block;
}

form p {
  font-weight: 600;
}

form div {
  display: inline-flex;
  gap: 0.5rem;
  width: 100%;
}

.ft-form-input {
  height: 38px;
  width: 240px;
  outline: 0;
  border: 0;
  background-color: #333;
  color: aliceblue;
  padding: .5rem;
  border-radius: 6px;
}

.ft-form-input:placeholder {
  color: #c0c0c0;
}

.ft--col:nth-of-type(3) form {
  display: inline-block;
/*  width: 60%;*/
}

.ft--col:nth-of-type(3) form input {
  padding: 0.5rem;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  flex: 1;
  outline-color: red;
}

.ft--col:nth-of-type(3) form button {
  background: color-mix(in hsl, canvas, canvasText 75%);
  color: color-mix(in hsl, canvas, canvasText 10%);
  border-radius: 4px;
  align-self: auto;
  border: 0;
  padding-inline: 1rem;
  cursor: pointer;
}

.ft--col:nth-of-type(3) form p {
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  font-size: 0.825rem;
  font-weight: 600;
  margin-block-start: 2rem;
  margin-block-end: .25rem;
}

.ft--row:nth-last-of-type(-n+1) .ft--col {
  padding-inline-start: 1rem;
  background: hsla(43.8, 0%, 20%, 0.3);
  border-radius: 6px;
}

.ft--row:nth-last-of-type(-n+1) .ft--col:nth-of-type(2) {
  align-self: center;
}

.ft--row:nth-last-of-type(-n+1) .ft--col:nth-of-type(2) form input {
  padding: 0.5rem;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  flex: 1;
  outline-color: red;
}

.ft--row:nth-last-of-type(-n+1) .ft--col:nth-of-type(2) form button {
  background: color-mix(in hsl, canvas, canvasText 75%);
  background: hsl(208.2, 32.4%, 21.4%);
  color: color-mix(in hsl, canvas, canvasText 10%);
  border-radius: 4px;
  align-self: auto;
  border: 0;
  padding-inline: 1rem;
  cursor: pointer;
}

.ft--row:nth-last-of-type(-n+1) .ft--col:nth-of-type(2) form p {
    font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-size: 0.825rem;
    font-weight: 600;
    margin-block-start: 2rem;
    margin-block-end: .25rem;
}

.copyright {
  font-size: .65rem;
  font-weight: 700;
  text-align: center;
  padding-inline-start: .5rem;
  background: hsl(279, 92%, 28%);
  background: #081a29;
  background: hsl(208.2, 32.4%, 21.4%);
    padding-block: 2px; 
  /*outline: 1px solid firebrick;*/
}

.qr--img-wrap {
  grid-column: content;
  text-align: right;
  text-align: center;
}

.qr--img {
  border-radius: 4px;
  width: 120px;
  height: 120px;
}

/*
@keyframes moveHeaderUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}*/

@keyframes moveHeaderUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
/*     transform: translateX(-25px); */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}

@keyframes slidein {
  0%,
  100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

@media (min-width: 480px) {
  .section--title, 
  .container p {
    grid-column: breakout;
    padding-inline: 0;
  }
}


.eDMZAW {
    position: relative;
    grid-column: page;
}

.eDMZAW:nth-last-of-type(-n+1) {
  grid-column: full;
}

@media (max-width: 1280px) {
    .eDMZAW {
        padding: 120px 0 17px;
    }
    .eDMZAW:nth-last-of-type(-n+1)  {
        padding: 80px 0 80px;
    }    
}

.imXWyz {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 702px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: radial-gradient(50% 72.75% at 50% 0%, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 100%);
}

.cjEvTY {
    position: relative;
    width: 100%;
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
}

.cjEvTY h2 {
    font-family: 'Open Sans';
    font-size: 3.375rem;
    font-weight: 600;
    text-align: center;
}

.cjEvTY p {
    font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    color: rgb(134, 143, 151);
    line-height: 1.4;
}

@media (max-width: 1280px) {
    .cjEvTY {
        padding: 0 40px;
        max-width: 1130px;
    }
}
