@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/gasoek-one');
@import url('https://api.fonts.coollabs.io/css?family=Proxima+Nova&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova');
@import url('https://fonts.cdnfonts.com/css/lexend');
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');
@import url('https://fonts.cdnfonts.com/css/fjalla-one-2');

* {
  margin: 0;
  padding: 0;
}

*,
::before, 
::after {
  box-sizing: border-box;
}

:root {
/* 	font-size: 20px; */
  --hdr-main-color: hsl(0,0%,92%);
	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;
  --ff-main-header:  'Gasoek One', sans-serif;
}

body {
/*   display: flex;
  align-items: center;
  justify-content: center; */
/*   height: 100vh; */
  background-color: #1B1B1B;
}

.hero {
  position: relative;
/*   max-width: 1040px; */
/*   max-width: 100%; */
  height: 500px;
  margin: 0 auto;
/*   padding: 1rem 2.5rem; */
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%);
/*   border: 1px solid firebrick; */
}

h1 {
  font-family: 'Jockey One';
  font-family: var(--ff-main-header);
/*   font-weight: 700; */
  color: #c0c0c0;
  color: #fafafa;
  letter-spacing: 0.040rem;
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
}

.hero-title {
  display: grid;
  font-size: clamp(2.5rem, 8vw + 0.5rem, 5.2rem);
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Lexend', sans-serif;
/*   font-family: var(--ff-main-header); */
  line-height: .85;
  position: relative;
  z-index: 2;
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
/*   border: 1px solid firebrick; */
}

@media (min-width: 480px) {
  .hero-title {
    margin-left: 3rem;
  }
}

.image--container {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
  overflow: hidden;
/*   -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%); */
/*   outline: 1px solid firebrick; */
}

.image--container img {
  max-width: 100%;
  height: auto;
  scale: 2.2;
  filter: blur(12px);
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 40px -150px;
}
 
.profile-img--cont {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 2%;
  width: 240px;
  height: 100%;
  z-index: 2;
/*   outline: 2px solid firebrick;   */
}

 

.profile-img--cont .image-container {
  position: relative;
  width: 100%;
  width: clamp(100px, 40vw, 350px);  
/*   height: 350px; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
/*   border: 1px solid firebrick; */
}

.profile-img--cont .image-container::after {
  position: absolute;
  content: '';
  inset: 0;
  height: 100%;
  padding-bottom: 100%;
  background: rgba(0 0 0 / .3);
}

.profile-img--cont .image-container img {
  max-width: 100%;
  height: auto;
  display: block;
/*   filter: blur(0);
  scale: 1; */
}

main {
  margin-top: 12.5rem;
}

main .container {
  width: 86%;
  width: 100%;
  margin: 0 auto;
}

main h2, 
main p {
  color: #c0c0c0;
}

main p {
  font-family: 'Montserrat';
  font-family: 'Proxima Nova';
  font-size: .9rem;
  font-size: .95rem; 
  line-height: 1.765rem;
  margin-bottom: 1rem;
}

.section-1 {
  margin-bottom: 24rem;
  border: 1px solid firebrick;
  padding: 0 .25rem;
}

.bio--section-anno p {
/*   width: 32ch; */
  width: 60%;
  font-size: 2.3rem;
  font-size: clamp(.6rem, .9rem + 1.8vw, 5rem);
  font-size: clamp(.85rem, 0.5703rem + 1.333vw, 3rem);
  line-height: 1.1;
/*   text-shadow: 0 .10em 3px rgba(0, 0, 0, 0.8); */
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);  
}

.bio--section-anno p:not(:last-child) {
  margin-bottom: 3.5rem;
}

@media (min-width: 40rem) {
  .section-1 {
    padding: 0 3rem;
  }
}

.section-2 {
  padding: 0 2rem;
}

.section-2 p {
  font-size: clamp(.85rem, 0.5703rem + 1.333vw, 3rem);
  line-height: 1.1;
/*   text-shadow: 0 .10em 3px rgba(0, 0, 0, 0.8); */
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);  
}
/* 
.slider {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10rem;
  outline: 1px solid firebrick;
}
 */
.slider .scrollable {
  height: 100vh;
  display: flex;
  align-items: center;
/*   align-items: flex-start; */
  overflow-x: auto;
}
.slider .scrollable-container {
  display: flex;
  align-items: center;
}
.slider img {
  flex-shrink: 0;
  margin: 0 2rem;
  max-height: 90vh;
/*   height: 30vh; */
  max-width: none;
}
.js .slider {
  height: 600vh;
}
.js .slider .scrollable {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


/* #Progress
================================================== */

.progress-wrap {
	position: fixed;
	right: 15px;
	bottom: 20px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
/* 	content: '\e84b'; */
  content: '';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/SVG/up-arrow-alt-regular-24_8Xzwgeppo.png);
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: none;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/cdn/SVG/up-arrow-alt-regular-24-2_1SmK3Ypdf.png);
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: none;
/* 	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: var(--grey);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
	color: var(--black-blue);
}
body.light .progress-wrap svg.progress-circle path {
	stroke: var(--black-blue);
}
.switch,
.circle {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
.switch {
	width: 80px;
	height: 4px;
	border-radius: 27px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	position: fixed;
	right: 50px;
	top: 75px;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
  z-index: 33333;
    transition: all 300ms linear;
}
.circle {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--black-blue-light-3);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
	position: absolute;
	font-family: 'unicons';
	content: '\eac1';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 1;
	color: var(--grey);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.circle:after {
	position: absolute;
	font-family: 'unicons';
	content: '\eb8f';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: var(--yellow);
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.switched {
}
.switched .circle {
	left: 45px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: var(--black-blue);
}
.switched .circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.switched .circle:before {
	opacity: 0;
}
.switched .circle:after {
	opacity: 1;
}

.icons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 750px;
}

.icons ul:nth-child(3) ,ul:nth-child(2){
    margin-top: 100px;
}

.icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    padding: 5px;
    border-radius: 50%;
    font-size: 60px;
    color: #fff;
    transition: 0.5s ease;
}

.icons a:hover {
    font-size: 50px;
    color: #01FFF4;
    box-shadow: 0 0 40px #01FFF4;
    box-shadow: 0 0 40px firebrick;
}
