
* {
    margin: 0;
    padding: 0;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
/* 	font-size: 20px; */
  --hdr-main-color: hsl(0,0%,92%);
	--red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;
  --ff-main-header:  'Gasoek One', sans-serif;
}

body {
  background-color: #1B1B1B;
}

h1 {
  font-family: 'Jockey One';
  font-family: var(--ff-main-header);
  color: #c0c0c0;
  color: #fafafa;
  letter-spacing: 0.040rem;
  text-shadow: 0 .010em 2px rgba(0, 0, 0, 0.5);
}

.hero {
  position: relative;
/*   max-width: 1040px; */
/*   max-width: 100%; */
  height: 500px;
  margin: 0 auto;
/*   padding: 1rem 2.5rem; */
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%);
/*   border: 1px solid firebrick; */
}

svg {
  fill: #c0c0c0;
}

.image--container {
  display: grid;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 0;
  overflow: hidden;
  text-align: center;
/*   -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%); */
/*   outline: 1px solid firebrick; */
}

.hero-title {
  display: grid;
  font-size: clamp(2.5rem, 8vw + 0.5rem, 5.2rem);
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Lexend', sans-serif;
/*   font-family: var(--ff-main-header); */
  line-height: .85;
  position: relative;
  z-index: 2;
  grid-column: 1 / 2;
  align-self: start;
  justify-self: start;
  gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
/*   border: 1px solid firebrick; */
}

@media (min-width: 480px) {
  .hero-title {
    margin-left: 3rem;
  }
}

.image--container img {
  max-width: 100%;
  height: auto;
  scale: 2.2;
  filter: blur(12px);
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: 40px -150px;
}

main {
  margin-top: 12.5rem;
}

main .container {
  width: 86%;
  width: 100%;
  margin: 0 auto;
}

main h2, 
main p {
  color: #c0c0c0;
}

main p {
  font-family: 'Montserrat';
  font-family: 'Proxima Nova';
  font-size: .9rem;
  font-size: .95rem; 
  line-height: 1.765rem;
  margin-bottom: 1rem;
}


